<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem officia, id voluptates beatae,
  laudantium distinctio sunt voluptatum ad placeat ipsam nam sed earum vero ut quas aperiam odit commodi obcaecati.</p>
  <div>
    <p class="textШmportant">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis incidunt alias quia veniam? A minus cum porro saepe dignissimos exercitationem et veniam, quidem doloribus inventore deleniti nostrum. Eaque, ipsum cum!</p>
  </div>
  <div class="boldText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis a ullam cumque ad possimus molestiae qui sint ex facilis soluta vitae aspernatur, quos atque voluptates earum consectetur eaque. Dolores, rerum?</div>
